<%= render "layouts/top_section" %>
<div class="container mb-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100 bg-b-color mb-7 mt-n6 pb-5 p-2 pb-5 rounded-0 border-0">
        <div class="card-body fs-5">
          <h1 class="m-0 spaced-letters fs-5"> <strong>Sandro R채ss</strong></h1>
          <p class="spaced-letters ">
            <hr align="left" width="10%" class="">
          </p>
          <div class="d-grid gap-1 col-sm-12">
          <p class="card-text ">
            Ich bin ein Frontend-Entwickler, Philosoph und Aktivist.
          </p>
          <hr align="left" width="10%" class="">

          <p class="card-text ">Als Frontend-Entwickler erstelle ich Web-Applikationen mit Ruby-on-Rails und Angular.</p>
          <%#= link_to "Meine Projekte", root_path, class: "btn btn-f-color mb-3" %>
          <hr align="left" width="10%" class="">

          <p class="card-text ">
            Als Philosoph besch채ftige ich mit Fragen der Gerechtigkeit und des guten Lebens.
          </p>
          <%= link_to "Meine Essays", sandro_raess_essays_path, class: "btn btn-f-color mb-3" %>
          <hr align="left" width="10%" class="">

          <p class="card-text ">Als Aktivist 체berzeuge ich Menschen zu einer veganen Lebensweise.</p>
          <%#= link_to "Warum vegan?", root_path, class: "btn btn-f-color mb-3" %>
          <%#= link_to "Mein Aktivismus", root_path, class: "btn btn-f-color" %>
          <hr align="left" width="10%" class="">
          <p class="card-text ">
            Kontakt
          </p>
          <%= mail_to "s.raess@me.com", "s.raess@me.com", class: "btn btn-f-color mb-3" %>

          </div>

        </div>
      </div>
      <%#= image_tag("pig_cute.png", class: "img-fluid mt-n3") %>
    </div>

    <div class="col">
      <div class="card text-white mt-n6 rounded-0">
        <%= image_tag("raess-sandro-standing1.webp", class: "card-img-top rounded-0 border border-0", alt: "Bild von Sandro R채ss.") %>
      </div>
    </div>

  </div>
</div>
<%= url_string = ".vegan-ch/blog/instagram-code=45" %>
<%= link_to "test", api_vegan_visit_path(value: url_string), method: :post %>

<%= form_with url: api_vegan_visit_url, method: :post do |form| %>
  <%= form.text_field :value, placeholder: url_string %>
  <%= form.submit "Do" %>
<% end %>

<script>
  let data = {value: "barium"};

  fetch("<%= api_vegan_visit_url %>", {
    method: "POST",
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify(data)
  }).then(res => {
    console.log("Request complete! response:", res);
  });

</script>
