
<div class="container mb-3">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      <div class="card text-white bg-a-color mb-7 mt-n6 pb-5 p-2 pb-5 rounded-0">
        <div class="card-body fs-5">
          <h1 class="m-0 spaced-letters text-light fs-5"> <strong>Sandro R채ss</strong></h1>
          <p class="spaced-letters text-light">
            <hr align="left" width="10%" class="bg-light">
          </p>
          <div class="d-grid gap-1">
          <p class="card-text text-light">
            Ich bin ein Frontend-Entwickler, Philosoph und Aktivist.
          </p>
          <hr align="left" width="10%" class="bg-light">

          <p class="card-text text-light">Als Frontend-Entwickler erstelle ich Web-Applikationen mit Ruby-on-Rails und Angular.</p>
          <%= link_to "Schau dir meine Projekte an", root_path, class: "btn btn-f-color mb-3" %>
          <hr align="left" width="10%" class="bg-light">

          <p class="card-text text-light">
            Als Philosoph besch채ftige ich mit Fragen der Gerechtigkeit, des guten Lebens und der richtigen Argumentation.
          </p>
          <%= link_to "Schau dir meine Beitr채ge an", root_path, class: "btn btn-f-color mb-3" %>
          <hr align="left" width="10%" class="bg-light">

          <p class="card-text text-light">Als Aktivist 체berzeuge ich Menschen zu einer veganen Lebensweise.</p>
          <%= link_to "Warum vegan?", root_path, class: "btn btn-f-color mb-3" %>
          <%#= link_to "Mein Aktivismus", root_path, class: "btn btn-f-color" %>
          <hr align="left" width="10%" class="bg-light">
          <p class="card-text text-light">
            Kontakt
          </p>
          <%= mail_to "s.raess@me.com", "s.raess@me.com", class: "btn btn-f-color mb-3" %>

          </div>

        </div>
      </div>
      <%#= image_tag("pig_cute.png", class: "img-fluid mt-n3") %>
    </div>

    <div class="col-md-7 col-sm-12">
      <div class="card text-white mt-n6 rounded-0">
        <%= image_tag("raess-sandro-standing1.jpg", class: "card-img-top rounded-0") %>
      </div>
    </div>

  </div>
</div>
