<div class="container static_pages mb-3">

    <div class="card">
      <div class="card-body">
        <h1>Essays</h1>
        <hr align="left" width="10%" class="">
        <p>
          <ul class="">
            <li class="mb-3 ">
              <%= link_to "Was ist Tierethik? - Eine Einführung", "https://www.philosophie.ch/artikel/was-ist-tierethik" %>
            </li>
            <li class="mb-3 ">
              <%= link_to "Staatsbürgerschaft für Tiere?", "https://www.philosophie.ch/artikel/staatsbuergerschaft-fuer-tiere" %>
            </li>
            <li class="mb-3 ">
              <%= link_to "Kann der gleiche Schmerz für andere schlimmer sein als für uns?", "https://www.philosophie.ch/artikel/kann-der-gleiche-schmerz-fuer-andere-schlimmer-sein-als-fuer-uns" %>
            </li>
            <li class="mb-3 ">
              <%= link_to "Die Tugend der Barmherzigkeit", "https://www.philosophie.ch/artikel/die-tugend-der-barmherzigkeit" %>
            </li>
            <li class="mb-3 ">
              <%= link_to "Ist es schlimmer, ein glückliches Tier zu töten, als ein unglückliches?", "https://www.philosophie.ch/artikel/ist-es-schlimmer-ein-glueckliches-tier-zu-toeten-als-ein-unglueckliches" %>
            </li>
          </ul>
        </p>
      </div>

    </div>
</div>
