<% visit_query = Ahoy::Visit.where.not(user_id: 1).or(Ahoy::Visit.where(user_id: nil)) %>
<% event_query = Ahoy::Event.where.not(user_id: 1).or(Ahoy::Event.where(user_id: nil)) %>

<div class="container">
  <h1>
    Visits
  </h1>
  <br>
    Total: <%= visit_query.count %>
  <hr>
  City: <br>
  <%= bar_chart visit_query.group(:city).count %>
  <hr>
  Country: <br>
  <%= bar_chart visit_query.group(:country).count %>
  <hr>
  Region:
  <br>
  <%= bar_chart visit_query.group(:region).count %>
  <br>
  <h2>General</h2>
  <%= bar_chart event_query.group_by_week(:time).count %>
  <hr>
  <h2>Startseite</h2>
  <%= bar_chart event_query.where_props(action: "welcome").group_by_week(:time).count %>

</div>
<%= javascript_packs_with_chunks_tag 'visits' %>
