<div class="container">
  <h1>
    Visits
  </h1>
  <br>
    Total: <%= Ahoy::Visit.where.not(user_id: 1).count %>
  <hr>
  Country: <br>
  <%= bar_chart Ahoy::Visit.where.not(user_id: 1).group(:country).count %>
  <hr>
  Region:
  <br>
  <%= bar_chart Ahoy::Visit.where.not(user_id: 1).group(:region).count %>
  <br>
  <h2>General</h2>
  <%= bar_chart Ahoy::Event.where.not(user_id: 1).group_by_week(:time).count %>
  <hr>
  <h2>Startseite</h2>
  <%= bar_chart Ahoy::Event.where.not(user_id: 1).where_props(action: "welcome").group_by_week(:time).count %>

</div>
