<div class="container">
  <h1>
    Visits
  </h1>
  <br>
    Total: <%= Ahoy::Visit.all.count %>
  <br>
  <%= geo_chart Ahoy::Visit.group(:country).count %>
  <br>
  <%= bar_chart Ahoy::Visit.group(:country).count %>
  <br>
  <%= bar_chart Ahoy::Visit.group(:region).count %>
  <br>
  <%= line_chart Ahoy::Visit.where.not(user_id: 1).group_by_day(:time).count %>
  <br />
  <h2>Startseite</h2>
  <%= bar_chart Ahoy::Event.where_props(action: "welcome").group_by_day(:created_at).count %>

</div>
