<% url_cover = image_url("pigs.jpg") %>


  <section class="d-none d-lg-block top-section-bg">
      <div class="text-center">

          <%= image_tag("philosophische-insel-logo-cut.png", class: "img-fluid mt-4") %>

      </div>
  </section>
  <section class="d-sm-block d-lg-none top-section-bg">
      <div class="text-center">

        <%= image_tag("philosophische-insel-logo-cut.png", class: "img-fluid mt-4") %>

      </div>
  </section>



<div class="container mb-3">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card text-white bg-a-color mb-7 mt-n6 pb-5 p-2 pb-5 rounded-0">
        <div class="card-body fs-5">
          <h1 class="m-0 spaced-letters text-light fs-5"> <strong>Willkommen zur philosophischen Insel!</strong></h1>
          <p class="spaced-letters text-light">
            <hr align="left" width="10%" class="bg-light">
          </p>
          <p class="card-text text-light">Hier findest du Inhalte, Spiele und Werkzeuge, die Philosophie und Ethik vermitteln.</p>
          <div class="d-grid gap-4">
            <%= link_to "Chatte mit einen veganen Computer", chat_path, class: "btn btn-f-color" %>
            <%= link_to "Besuche den Online-Lernkurs zu Tierethik", root_path, class: "btn btn-f-color" %>
            <%= link_to "Warum braucht es Philosophie?", root_path, class: "btn btn-f-color" %>
          </div>

        </div>
      </div>
      <%#= image_tag("pig_cute.png", class: "img-fluid mt-n3") %>
    </div>

    <div class="col-md-8 col-sm-12 d-flex ">
      <div class="row">
      <div class="col-12 mb-5">
      </div>
        <div class="align-self-end">
          <div class="col-12">
              <%#= render "posts/card.html.erb", post: Post.last if Post.last.present? %>
              <% spotlight_post = Post.where(slug: "was-ist-tierethik").first %>
              <% spotlight_post = Post.last unless spotlight_post.present? %>
              <%= render "posts/card.html.erb", post: spotlight_post if spotlight_post.present? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%#= render "events/newest_events_list" %>

  <%#= render "event_calendar/event_calendar", events: Event.incoming.published.first(5) %>
  <%#= render partial: "events/horizontal_card", collection: Event.incoming.published.order(:created_at).first(5), as: :event %>
  <%#= render "posts/latest_posts" %>
  <%#= render "shared/patenschaft" %>
  <%#= render "posts/cards_in_group_of_3", posts: Post.last(3) %>
  <%#= render "shared/info_cards_in_group_of_3" %>
  <%#= render "event_calendar/action_map", events: Event.incoming.published.first(10) %>
