<div class="container mb-3">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5">
      <div class="card bg-b-color mb-7 mt-n6 pb-5 p-2 pb-5 rounded-0 border-0">
        <div class="card-body fs-5">
          <h1 class="m-0 spaced-letters fs-5"> <strong>Willkommen</strong></h1>
          <p class="spaced-letters">
            <hr align="left" width="10%" class="">
          </p>
          <p class="card-text">Hier findest du Inhalte, Spiele und Werkzeuge, die Philosophie und Ethik vermitteln.</p>
          <div class="d-grid gap-4">
            <%= link_to "Chatte mit einen veganen Computer", chat_path, class: "btn btn-f-color" %>
            <%= link_to "Besuche den Online-Lernkurs zu Ethik", root_path, class: "btn btn-f-color" %>
            <%= link_to "Warum braucht es Philosophie?", root_path, class: "btn btn-f-color" %>
          </div>

        </div>
      </div>
      <%#= image_tag("pig_cute.png", class: "img-fluid mt-n3") %>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-7">
      <div class="col-12 mb-5">
      </div>
        <div class="">
          <div class="col-12">
              <%#= render "posts/card.html.erb", post: Post.last if Post.last.present? %>
              <%# spotlight_post = Post.where(slug: "was-ist-tierethik").first %>
              <%# spotlight_post = Post.last unless spotlight_post.present? %>
              <%#= render "posts/card.html.erb", post: spotlight_post if spotlight_post.present? %>
              <div class="card mb-2 h-100 rounded-0 border-0">
                <%= image_tag "chat-preview1.png", class: "card-img-top border border-1" %>
                <% if false %>
                  <%= image_tag post.cover, class: "card-img-top" %>
                <% end %>

                <div class="card-body d-flex flex-column bg-b-color">
                  <h5 class="card-title spaced-letters">Chatte mit einem veganen Computer</h5>
                  <p class="card-text text-dark">
                    Wie sollen wir mit Tieren umgehen?
                  </p>

                  <a href="<%= chat_path %>" class="btn btn-f-color" style="margin-top: auto;">Chatten <i class="fas fa-chevron-right"></i></a>

                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

  <%#= render "events/newest_events_list" %>

  <%#= render "event_calendar/event_calendar", events: Event.incoming.published.first(5) %>
  <%#= render partial: "events/horizontal_card", collection: Event.incoming.published.order(:created_at).first(5), as: :event %>
  <%#= render "posts/latest_posts" %>
  <%#= render "shared/patenschaft" %>
  <%#= render "posts/cards_in_group_of_3", posts: Post.last(3) %>
  <%#= render "shared/info_cards_in_group_of_3" %>
  <%#= render "event_calendar/action_map", events: Event.incoming.published.first(10) %>
