<div class="container">
  <h1>Arbeitsplan-Generator</h1>
  <p>
    <%= link_to 'Arbeitsplan generieren', generate_work_plan_work_days_path, method: :post, class: "btn btn-secondary" %>
  </p>

  <% workers = Worker.all %>

  <p>
    Worker: <%= workers.count %>
  </p>

<% workers.each do |worker| %>

  <h2><%= worker.first_name %></h2>
  <p>
    Stunden per Woche: <%= worker.hours_per_week %>
  </p>


  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("date.month_names")[Date.today.month] %></th>
      <td>von</td>
      <td>bis</td>
      <td>von</td>
      <td>bis</td>
    </tr>
  </thead>
  <tbody>

    <% (Date.today.beginning_of_month..Date.today.end_of_month).each do |day| %>
      <% work_day = WorkDay.where(date: day).first %>
      <tr>
        <td><%= day %></td>
        <td><%= work_day.workers.map { |worker| worker.first_name }.join( ", ") %></td>
        <td>6:00</td>
        <td>10:00</td>
        <td>12:00</td>
        <td>18:00</td>
      </tr>
    <% end %>

  </tbody>
</table>

<% end %>
