<div class="container">
  <h1>Arbeitsplan-Generator</h1>
  <p>
    <%= link_to 'Arbeitsplan generieren', generate_work_plan_work_days_path, method: :post, class: "btn btn-secondary" %>
  </p>

  <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Arbeiter hinzufügen
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%= render 'workers/form', worker: Worker.new %>
    </div>
  </div>

  <% workers = Worker.all %>

  <% workers.each do |worker| %>
    <%= render "workers/card", worker: worker %>
  <% end %>

  <p>
    Worker: <%= workers.count %>
  </p>


  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("date.month_names")[Date.today.month] %> <%= Date.today.year %></th>
      <td>
        Arbeitende
      </td>
      <td>von</td>
      <td>bis</td>
      <td>von</td>
      <td>bis</td>
    </tr>
  </thead>
  <tbody>

    <% (Date.today.beginning_of_month..Date.today.end_of_month).each do |day| %>
      <% work_day = WorkDay.where(date: day).first %>
      <tr>
        <td><%= I18n.t('date.day_names')[day.wday] %> <%= day.strftime("%d.%m.%Y") %></td>
        <td><%= work_day.workers.map { |worker| worker.first_name }.join( ", ") unless work_day.blank? %></td>
        <td>6:00</td>
        <td>10:00</td>
        <td>12:00</td>
        <td>18:00</td>
      </tr>
    <% end %>

  </tbody>
</table>
