<div class="container">
  <h1>Arbeitsplan-Generator</h1>

  <% workers = Worker.all %>

  <p>
    Worker: <%= workers.count %>
  </p>
  
<% workers.each do |worker| %>

  <h2><%= worker.first_name %></h2>
  <p>
    Stunden per Woche: <%= worker.hours_per_week %>
  </p>


  <table class="table">
  <thead>
    <tr>
      <th scope="col"><%= I18n.t("date.month_names")[Date.today.month] %></th>
      <td>von</td>
      <td>bis</td>
      <td>von</td>
      <td>bis</td>
    </tr>
  </thead>
  <tbody>

    <% (1..31).each do |day| %>
      <tr>
        <td><%= day %></td>
        <td>6:00</td>
        <td>10:00</td>
        <td>12:00</td>
        <td>18:00</td>
      </tr>
    <% end %>

  </tbody>
</table>

<% end %>
