<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @donation_project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @donation_project.description %>
</p>

<p>
  <strong>Amount needed total:</strong>
  <%= @donation_project.amount_needed_total %>
</p>

<p>
  <strong>Amount already received:</strong>
  <%= @donation_project.amount_already_received %>
</p>

<%= link_to 'Edit', edit_donation_project_path(@donation_project) %> |
<%= link_to 'Back', donation_projects_path %>
