<% horse = horse.nil? ? @horse : horse %>
<%= simple_form_for(horse_comment, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content, label: false %>
  </div>

  <%= f.hidden_field :horse_id, value: horse.id %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary my-2" %>
  </div>
<% end %>
