
<%= simple_form_for(@horse) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <br>
    <%= f.input :last_shoeing_date, start_year: Date.today.year - 1, end_year: Date.today.year + 2 %>
    <br>
    <%= f.input :comment %>
    <br>
    <%#= f.input :shoeing_interval %>
    <p>
      Beschlagungsfrist
    </p>
    <div class="input-group mb-3">
      <span class="input-group-text">Alle</span>
      <%= f.input :shoeing_interval, class: "form-control", label: false %>
      <span class="input-group-text">Wochen</span>
    </div>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary my-2" %>
  </div>
<% end %>
