<table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        <%= link_to horse.name, edit_horse_path(horse), class: "btn btn-success my-1" %>
      </td>
      <td>
        <%= link_to 'Entfernen', horse, method: :delete, class: "btn btn-danger my-1", data: { confirm: 'Bist du sicher?' } %>
      </td>
    </tr>
    <tr>
      <td>
        Nächste Hufschlagfrist:
      </td>
      <td>
         <strong><%= l(horse.shoeing_deadline) %></strong>
         <br />
         in <strong><%= ((horse.shoeing_deadline - Date.today).to_f / 7).truncate(1) %> Wochen</strong>
      </td>
    </tr>
    <tr>
      <td>
        Letzte Beschlagung:
      </td>
      <td>
         <strong><%= l(horse.last_shoeing_date) %></strong>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <%= link_to "#{horse.name} wurde heute beschlagen", shoeing_happened_today_horse_path(horse), method: :post, class: "btn btn-primary my-1" %>
      </td>
    </tr>
    <tbody>
  </table>
  <p><strong>Kommentare zu <%= horse.name %></strong></p>
  <%= render 'horse_comments/form_remote', horse_comment: HorseComment.new, horse: horse %>
  <table class="table table-bordered">
    <tbody class="<%= dom_id(horse) %>_horse_comments">
      <% horse.horse_comments.order(:created_at).reverse_order.each do |horse_comment| %>
        <%= render 'horse_comments/table_element', horse_comment: horse_comment %>
      <% end %>
  </tbody>
</table>
