<table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        <%= link_to horse.name, edit_horse_path(horse) %>
      </td>
    </tr>
    <tr>
      <td>
        Nächste Hufschlagfrist:
      </td>
      <td>
         <strong><%= l(horse.shoeing_deadline) %></strong>
         <br />
         in <strong><%= ((horse.shoeing_deadline - Date.today).to_f / 7).truncate(1) %> Wochen</strong>
      </td>
    </tr>
    <tr>
      <td>
        Letzte Beschlagung:
      </td>
      <td>
         <strong><%= l(horse.last_shoeing_date) %></strong>
      </td>
    </tr>
    <tr>
      <td>
        Kommentar:
        </td>
        <td>
          <%= horse.comment %>
        </td>
      </tr>
  </tbody>
</table>
<div class="text-center">
  <%= link_to "#{horse.name} wurde heute beschlagen", shoeing_happened_today_horse_path(horse), method: :post, class: "btn btn-primary my-1" %>
</div>
