<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
  <div class="search_game_main_div">
    <%= image_tag "santas_sleigh.png", class: "img-fluid", id: "search_game_button" %>
    <p id="search_game_text" class="text-center">
      <%= @text %>
    </p>
    <p id="search_game_answer1" class="text-center">

    </p>
    <p id="search_game_answer2" class="text-center">

    </p>
    <p id="search_game_answer3" class="text-center">

    </p>
    <%#= @count_of_findables %>
    <% if @count_of_findables == 0 %>
      <div class="border rounded p-4" id="search_game_submission_div_for_form">
        <%= render 'search_game_submissions/form', search_game_submission: SearchGameSubmission.new %>
      </div>
    <% end %>
    <p class="text-center">
      <%#= @identifier %>
    </p>
    <p class="text-center">
      <%#= @cookie %>
    </p>
  </div>
</div>
</div>
</div>
<script>
  $( "#search_game_button" ).click(function() {
    console.log("You found me!");

    $.ajax({
      method: "POST",
      url: "search_game_find",
      data: { identifier: "<%= raw @identifier %>", cookie: "<%= raw @cookie %>" }
    })
      .done(function( answer ) {
        $("#search_game_text").text("");
        $("#search_game_answer1").text(answer["answer1"]);
        $("#search_game_answer2").text(answer["answer2"]);
        $("#search_game_answer2").text(answer["answer3"]);

      });

  });
</script>
