<div class="container blogger-sans">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
  <div class="search_game_main_div">
    <% if @identifier == "1"%>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "christmas_tree" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-green" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-green2" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-green3" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-green4" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-green5" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-orange" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-red" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-black-orange" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
      <% elsif @identifier == "v-heart-black-red" %>
        <%= image_tag "v-heart-green.png", class: "img-fluid", id: "search_game_button" %>
    <% end %>
    <p class="text-center <%= "d-none" if @you_already_found_me %>" id="click_on_me">
      Klick mich!
    </p>


    <p class="text-center d-none" id="you_found_me">
      Du hast mich gefunden!
    </p>

    <p class="text-center d-none" id="how_many_left_to_find">

    </p>


      <p class="text-center <%= "d-none" unless @you_already_found_me && !@you_found_all %>" id="you_already_found_me">
        Du hast mich bereits gefunden, such weiter!
      </p>



    <div class="text-center <%= "d-none" unless @you_found_all && !@already_submitted %>" id="you_found_all">
      <p>
          Wow, du hast alle gefunden! Gratulation!
      </p>
      <div class="border rounded p-4" id="search_game_submission_div_for_form">
        <%= render 'search_game_submissions/form', search_game_submission: SearchGameSubmission.new(cookie: @cookie) %>
      </div>
    </div>

    <div class="text-center <%= "d-none" unless @already_submitted %>" id="already_submitted">
      <p>
          Du hast bereits am Wettbewerb teilgenommen.
      </p>
      <p>
        Viel Glück!
      </p>
    </div>

  </div>
</div>
</div>
</div>
<script>
  $( "#search_game_button" ).click(function() {
    console.log("You found me!");

    $.ajax({
      method: "POST",
      url: "/api/search_game_find",
      data: { identifier: "<%= raw @identifier %>", cookie: "<%= raw @cookie %>" }
    })
      .done(function( answer ) {

        if(answer.how_many_left_to_find > 0){
          $("#click_on_me").addClass('d-none');
          $("#you_found_me").removeClass('d-none');
          $("#how_many_left_to_find").text(answer.how_many_left_to_find_text).removeClass('d-none');
        } else if (answer.how_many_left_to_find <= 0) {
          $("#click_on_me").addClass('d-none');
          $("#you_found_all").removeClass('d-none');
        }

        console.log(answer);


      });

  });
</script>
