<div class="card h-100 blogger-sans">
  <% if veganuary_item.company_logo.attached? %>
      <%= image_tag veganuary_item.company_logo, class: "card-img-top", style: "height: 200px;" %>
    <% else %>
      <%= image_tag "landscape-placeholder.jpg", class: "card-img-top", style: "height: 200px;" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= veganuary_item.company_name %></h5>
    <h5 class="my-4">
      <span class="badge bg-secondary"><%= t(veganuary_item.category) unless veganuary_item.category.blank? %></span>
    </h5>
    <p class="card-text">
      <%= raw veganuary_item.company_description %>
    </p>

    <p class="card-text">
      <strong>Unser Veganuary-Angebot:</strong><br />
      <%= raw veganuary_item.offer %>
    </p>




    <% if user_signed_in? %>
      <%= link_to "edit", edit_veganuary_item_path(veganuary_item) %>
    <% end %>
  </div>

  <div class="card-footer text-center">
    <% if veganuary_item.offer_images1.attached? %>
      <%= link_to veganuary_item.url do %>
        <%= image_tag veganuary_item.offer_images1, class: "img-fluid", style: "height: 200px;" %>
      <% end %>
    <% end %>
  </div>
</div>
