<%= tinymce_assets %>
<%#= tinymce %>
<script>
  tinymce.init({
  selector: '.tinymce',  // change this value according to your HTML
  plugins: 'wordcount link code',
  menubar: false,
  toolbar: "styleselect | bold italic | undo redo | link | table | code | alignleft | aligncenter | alignjustify | code",
  init_instance_callback: function(){
    var numChars = tinymce.activeEditor.plugins.wordcount.body.getCharacterCount();

    var characterCountElement = document.getElementById("characterCount");
    characterCountElement.innerHTML = numChars;
  },
  setup: function(editor) {
        var max = 500;
  	    editor.on('keyup', function(event) {
  		  var numChars = tinymce.activeEditor.plugins.wordcount.body.getCharacterCount();

        var characterCountElement = document.getElementById("characterCount");
        characterCountElement.innerHTML = numChars;

  		  if (numChars > max) {
  			alert("Maximum von " + max + " Charaktern erreicht");
  			event.preventDefault();
  			return false;
  		  }
  		});
    }
});

</script>
<%= simple_form_for(@veganuary_item, url: update_for_user_veganuary_item_path) do |f| %>
  <%#= f.error_notification %>
  <%#= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <h2 id="veganuary_item_errors"></h2>
  <% if @veganuary_item.errors.present? %>
  <div class="alert alert-danger">
    <% @veganuary_item.errors.full_messages.each do |msg| %>
      <li>
             <%= msg %>
      </li>

    <% end %>
  </div>
  <% end %>


  <div class="form-inputs">
    <div class="mb-4">
    <%= f.input :published, collection: VeganuaryItem.published_options.map {|option| [t(option), option]}, label_html: { class: 'fw-bold' } %>
    </div>

    <div class="mb-4">
    <%= f.input :checked, collection: VeganuaryItem.checked_options.map {|option| [t(option), option]}, label_html: { class: 'fw-bold' } %>
    </div>


    <%#= f.input :category %>
    <div class="mb-4">
    <%= f.input :category, collection: VeganuaryItem.category_options.map {|option| [t(option), option]}, label_html: { class: 'fw-bold' } %>
    </div>

    <div class="mb-4">
    <%= f.input :company_name, label_html: { class: 'fw-bold' } %>
    </div>

    <div class="mb-4">
      <p>
        <strong>
          Logo des Unternehmens (maxmial 1MB)
          </strong>
        <br>
        <%= f.file_field :company_logo, label_html: { class: 'fw-bold' } %>
      </p>
    </div>

    <% if false %>
    <div class="mb-4">

      <p>
        <strong>
          Kurze Beschreibung des Unternehmens
          </strong>
      </p>
      <%= f.text_area :company_description, :class => "tinymce", :rows => 5, label_html: { class: 'fw-bold' } %>

    </div>
    <% end %>

    <div class="mb-4">
      <%= f.input :url, label_html: { class: 'fw-bold' } %>

    </div>

    <div class="mb-4">
      <p>
        <strong>
          Beschreibung des Angebots
          </strong>
          (maximal 500 Zeichen)
      </p>
      <p>
        Anzahl Zeichen: <span id="characterCount"></span>

      </p>

      <%= f.text_area :offer, :class => "tinymce", :rows => 5, label_html: { class: 'fw-bold' } %>
    </div>

    <% if false %>

    <hr>
    <p>
      <strong>Falls vorhanden: </strong> 1 Bild vom Angebot hochladen
    </p>
    <div class="mb-4">
      <p>
        Bild vom Angebot (maxmial 1MB)<br>
        <%= f.file_field :offer_images1, label_html: { class: 'fw-bold' } %>
      </p>
    </div>

    <div class="mb-4">
      <p>
        Bild vom Angebot (2) (maxmial 1MB)<br>
        <%= f.file_field :offer_images2, label_html: { class: 'fw-bold' } %>
      </p>
    </div>

    <div class="mb-4">
      <p>
        Bild vom Angebot (3) (maxmial 1MB)<br>
        <%= f.file_field :offer_images3, label_html: { class: 'fw-bold' } %>
      </p>
    </div>

    <% end %>
    <hr>

    <div class="mb-4">
      <p>
        <strong>
          Falls vorhanden:
          </strong>
          1-3 Standorte angeben.
      </p>
      <%= f.input :addresses, label_html: { class: 'fw-bold' } %>
    </div>
    <div class="mb-4">
      <p>
        Haben Sie mehr als 3 Standorte? Bitte schreiben Sie eine e-Mail an <%= mail_to "sandro@vegan.ch", "sandro@vegan.ch" %>, dann finden wir gemeinsam eine Lösung.
      </p>

      <hr>
      <div class="mb-4">
        <p>
          <strong>
            Kommentar
            </strong>
            <br>
            Möchten Sie uns noch etwas mitteilen?
        </p>
        <%= f.input :comment, label: false, placeholder: "Lorem Ipsum..." %>
      </div>
      <p>
        <strong>Disclaimer:</strong><br>
        Die Inhalte können ggf. von der Veganen Gesellschaft Schweiz  zu Übersichtszwecken formatiert, gekürzt oder angepasst werden.
      </p>
      <%= f.check_box :disclaimer1, {}, "true", "false" %> Ich bin damit einverstanden, dass die Inhalte ggf. formatiert, gekürzt oder angepasst werden.


    </div>


  </div>

  <div class="form-actions">
    <%= f.button :submit, "aktualisieren", class: "btn btn-success my-4" %>

    <%#= f.submit "Speichern und Abschliessen", name: 'save_and_close', class: "btn btn-warning my-4", data: {confirm: 'Speichern und Verlassen?'}  %>

  </div>

  <% if false %>
  <div class="form-actions">
    <%= f.button :submit, "Speichern und verlassen", class: "btn btn-primary my-4" %>
  </div>
  <% end %>

<% end %>
