<p id="notice"><%= notice %></p>

<h1>Veganuary Items</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company description</th>
      <th>Url</th>
      <th>Offer</th>
      <th>Addresses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veganuary_items.each do |veganuary_item| %>
      <tr>
        <td><%= veganuary_item.company_name %></td>
        <td><%= veganuary_item.company_description %></td>
        <td><%= veganuary_item.url %></td>
        <td><%= veganuary_item.offer %></td>
        <td><%= veganuary_item.addresses %></td>
        <td><%= link_to 'Show', veganuary_item %></td>
        <td><%= link_to 'Edit', edit_veganuary_item_path(veganuary_item) %></td>
        <td><%= link_to 'Destroy', veganuary_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Veganuary Item', new_veganuary_item_path %>
