
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.text_area :text, id: "markdown_text_area", value: @page.content %>

    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">

    $( document ).ready(function() {
      var myCodeMirror1 = CodeMirror.fromTextArea(document.getElementById("markdown_text_area"), {
        theme: "default",
        mode: 'markdown',
        border: '1px solid #eee',
        setsize: '100%'
      });

      myCodeMirror1.setSize("100%", "100%");

    });
  </script>
