<%#= javascript_pack_tag 'codemirror' %>

<div class="container">
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <br />
    <p>
      <%= f.text_area :content, id: "markdown_text_area", value: @page.content %>
    </p>

    <%#= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>

<script type="text/javascript">

    $( document ).ready(function() {
      var myCodeMirror1 = CodeMirror.fromTextArea(document.getElementById("markdown_text_area"), {
        theme: "solarized dark",
        mode: 'markdown',
        lineNumbers: true,
      });

    });
  </script>
