<p id="notice"><%= notice %></p>

<%= form_with url: vegan_visits_path, method: :get do |form| %>
<p>
  <%= form.label :query, "Must include:" %><br />
</p>
<p>
  <%= form.text_field :query, placeholder: @query %><br />
</p>
<p>
  <%= form.text_field :query2, placeholder: @query2 %><br />
</p>
  <%= form.submit "Search" %>
<% end %>


<h1>Vegan Visits</h1>
<hr>
<p>
  Count: <%= @unique_cookies.count %>
</p>

<% @unique_cookies.each do |unique_cookie| %>
  <% next if VeganVisit.where(cookie: unique_cookie).count > 30 %>
  <h2><%= unique_cookie %></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Url</th>
        <th scope="col">Cookie</th>
      </tr>
    </thead>
    <tbody>

      <% VeganVisit.where(cookie: unique_cookie).last(30).order(:created_at).each do |single_visit| %>
        <tr>
          <td>
            <%= highlight(single_visit.url, [@query, @query2]) -%>
          </td>
          <td><%= l(single_visit.created_at) %></td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <hr>
<% end %>
