
  <div class="chat-text chat-option-field chat-section-field animate__animated animate__bounceIn animate__delay-1s text-center chat_button_message_id_<%= chat_message.id %>">
        <%= render "chat_messages/chat_message_content", chat_message: chat_message %>
  </div>


<script>

  $( document ).ready(function() {

    $( ".chat_button_message_id_<%= chat_message.id %>" ).click(function() {

      var ids_of_children = "<%= chat_message.parent.blank? ? [] : chat_message.parent.children.pluck(:id) %>";

      $.each(JSON.parse(ids_of_children), function(index, value){
        //$( ".chat_button_message_id_" + value ).fadeOut( "slow", function() {
          // Animation complete.
        //});
        var current_element = ".chat_button_message_id_" + value;
        setTimeout(function(){
          ANIMATECSS(current_element, 'bounceOut').then((message) => {
            $(current_element).remove();
          });
        }, 0 + (100 * index));
      });

      setTimeout(function(){
        $.ajax({
          url: "<%= get_next_chat_message_path(chat_message) %>",
          method: 'GET',
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        });
      }, 1000);
    });

  });
</script>
