<div class="chat-section-field">
  <div class="row">
      <div class="col-12 d-flex align-items-end">
        <div class="" style="padding-right: 0.5rem;">
          <%= image_tag "portrait_frau.png", class: "rounded-circle border-white white-border-for-rounded-circle bg-white", width: "50px", height: "50px" %>
        </div>
        <div class="chat-bg-computer chat-text chat-argument-field <%= dom_id(chat_message) %>">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          <%#= raw sanitizing(chat_message.content) unless chat_message.blank? %>
        </div>
      </div>
      <% if user_signed_in? #is_current_user_admin? %>
        <div class="text-center m-2">
          <hr />
          <%= link_to 'Eintrag bearbeiten', edit_chat_message_path(chat_message), class: "btn btn-primary m-2" %>
          <%= link_to 'Eintrag löschen', chat_message_path(chat_message), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
          <%= link_to 'Neuer Eintrag', new_chat_message_path(parent_id: chat_message.id), class: "btn btn-light m-2" %>
        </div>
      <% end %>
  </div>
</div>

<script type="text/javascript">

  var chat_message_content = $("<%= escape_javascript( render "chat_messages/chat_message_content", chat_message: chat_message ) %>")
  var id_of_chat_message = ".<%= dom_id(chat_message) %>";

  $( document ).ready(function() {
    setTimeout(function(){
      CHAT.animateCSS(id_of_chat_message, 'fadeIn');
       $( id_of_chat_message ).html( chat_message_content );
     }, <%= raw @chat_message.loading_time %>);

     if ( "<%= (@chat_message.children.empty?).to_s %>" == "false") {
       if ("<%= (@chat_message.children.first.try(:chatter)).to_s %>" == "user" ) {

         var ids_of_children = "<%= @chat_message.children.empty? ? [] : @chat_message.children.pluck(:id) %>";
         setTimeout(function(){
           $.each(JSON.parse(ids_of_children), function(index, value){
               setTimeout(function(){
                 $.ajax({
                   url: "<%= get_next_chat_button_path %>" + "/" + value,
                   method: 'GET',
                   headers: {
                     'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
                   }
                 });
              }, index * 300);
           });
         }, <%= raw @chat_message.loading_time.to_i + @chat_message.get_next_time.to_i %>);


      } else if ("<%= (@chat_message.children.first.try(:chatter)).to_s %>" == "computer") {

         setTimeout(function(){
           $.ajax({
             url: "<%= get_next_chat_message_path(@chat_message.children.first) %>",
             method: 'GET',
             headers: {
               'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
             }
           });
        }, <%= raw @chat_message.loading_time.to_i + @chat_message.get_next_time.to_i %>);
       }

     }

  });

</script>
