<%= tinymce_assets %>
<%= tinymce %>

<%= simple_form_for(chat_message) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :chatter, as: :select, collection: ChatMessage.chatter_options, input_html: {class: 'chosen-select', :data => {:placeholder => "Option auswählen"}, multiple: false} %>
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $( document ).ready(function() {
    $(".chosen-select").chosen({width: "100%"});
  });
</script>
