<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= raw sanitizing(@chat_message.content) %>
</p>
<p>
  <%= link_to "Visual", chat_messages_visual_path(@chat_message) %>
</p>
<p>
  <%= render 'chat_messages/computer_chat_message', chat_message: @chat_message %>
  <%= render 'chat_messages/user_chat_message', chat_message: @chat_message %>
  <%= render 'chat_messages/chat_button', chat_message: @chat_message %>

</p>

<%= link_to 'Edit', edit_chat_message_path(@chat_message) %> |
<%= link_to 'Back', chat_messages_path %>
</div>
