<% how_many_items_before_show_more_button = 5 %>
<% collapsible_id = "media_collapsible" %>


<% @media.order(:date).reverse_order.limit(how_many_items_before_show_more_button).each do |medium| %>
  <%= render "media/item", item: medium %>
<% end %>

<div class="collapse" id="<%= collapsible_id %>">



  <% @media.order(:date).reverse_order.offset(how_many_items_before_show_more_button).each do |medium| %>
    <%= render "media/item", item: medium %>
  <% end %>

</div>
<p class="text-center">

  <button class="btn btn-primary" id="<%= collapsible_id %>_button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapsible_id %>" aria-expanded="false" aria-controls="<%= collapsible_id %>">
    Mehr anzeigen
  </button>
</p>

<script>

    var myCollapsible = document.getElementById('<%= collapsible_id %>')
    myCollapsible.addEventListener('show.bs.collapse', function () {
      $("#<%= collapsible_id %>_button").text("Weniger anzeigen");
    });

    myCollapsible.addEventListener('hide.bs.collapse', function () {
      $("#<%= collapsible_id %>_button").text("Mehr anzeigen");
    });

</script>
