<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="bUYclo8VOwfO6-L9oPh67t8Q0kvBUm7HftioGEjGoRI" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!--
    <script src="https://kit.fontawesome.com/9e87a26e49.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'vegan_chat' %>

  </head>
  <body class="chat-bg-color d-flex flex-column" style="margin-bottom: 80px;">
    <%#= render "layouts/navigation" %>
    <%= yield %>
    <%#= render "layouts/footer" %>
  </body>
</html>
