<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: application_name, reverse: true, separator: "-" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="bUYclo8VOwfO6-L9oPh67t8Q0kvBUm7HftioGEjGoRI" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <!--
    <script src="https://kit.fontawesome.com/9e87a26e49.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag('philosophische-insel-logo-ohne-hintergrund.png') %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= yield %>
  </body>
</html>
