<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= display_meta_tags site: application_name %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="QS__u3o6f1AvEqG5DjmCSZlGa9f0GJMi_MUybyW7hD4" />
    <meta name="google-signin-client_id" content="833538385040-8c164qj3064f6hc7ntfq5ovtffv0spas.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <!--
    <script src="https://kit.fontawesome.com/9e87a26e49.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= javascript_pack_tag 'application' %>
    <%= favicon_link_tag('philosophische-insel-logo-ohne-hintergrund.png') %>
  </head>
  <body class="d-flex flex-column h-100">
    <%#= render "layouts/navigation" %>
    <%#= render "layouts/flash_messages" if flash %>
    <%#= render "layouts/top_section" %>
    <%= yield %>
    <%#= render "layouts/footer" %>
  </body>
</html>
