<!DOCTYPE html>
<html>
  <head>
    <title><%= application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9e87a26e49.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('philosophische-insel-ohne-hintegrund.svg') %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= render "layouts/navigation" %>
    <%= render "layouts/top_section" %>
    <%= render "layouts/flash_messages" if flash %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
